click==7.1.1
fedex==2.4.0
Flask==1.1.1
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.6.3
MarkupSafe==1.1.1
selenium==3.141.0
suds-jurko==0.6
usps-api==0.4
Werkzeug==1.0.0
xmltodict==0.12.0
pytz==2020.1